{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Admin | Upload CSV File {% endblock title %}

{% block extrastyle %}
<!-- Add any additional CSS here -->
{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Upload Dataset</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'manage_dataset' %}">Dataset List</a></li>
            <li class="breadcrumb-item active">Upload Dataset</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title pt-3">Upload CSV File</h3>
            </div>
            <div class="card-body">
              <form id="upload-file-form" method="POST" action="{% url 'upload_file' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name">
                  <label for="file">Upload CSV File:</label>
                  <input type="file" class="form-control" id="file" name="file" accept=".csv">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a href="{% url 'manage_dataset' %}" class="btn btn-secondary">Back</a>
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  $(document).ready(function () {
    $('#upload-file-form').on('submit', function (e) {
      e.preventDefault();
      var formData = new FormData(this);

      $.ajax({
        url: $(this).attr('action'), // Uses the form's action attribute
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          if (response.error) {
            Swal.fire('Error!', response.error, 'error');
          } else {
            window.location.href = "{% url 'manage_dataset' %}"; // Redirect on success
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error("Error:", textStatus, errorThrown);
          Swal.fire('Error!', 'An error occurred while uploading the file.', 'error');
        }
      });
    });
  });
</script>
{% endblock extra_scripts %}
